.courses-heading {
    text-align: center;
    padding-bottom: 16px;
}

.courses-heading span {
    color: var(--primary-color);
    font-size: 48px;
}

.courses-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.courses-grid-wrapper span {
    color: var(--secondary-color);
}

.course-content {
    height: 400px;
    background-color: var(--primary-color);
    padding: 2px;
    border-radius: 0.5em;
}

.course-content img {
    width: 100%;
    border-radius: 0.5em;
}
.course-name{
    font-size: 28px;
    text-align: center;
    padding: 0.5em;
}
.course-description{
    font-size: 18px;
    text-align: center  ;
}