.hero-wrapper{
    line-height: auto;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    
}
.hero-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 32px 0px;
    
}   
.hero-text-1{
    display: block;
    font-size: 48px;
    margin: 18px 0px;
    
}
.hero-text-2{
    display: block;
    font-size: var(--primary-font-size);
    margin: 18px 0px;
}
.hero-right{
    height: 500px;
    width: 500px;
    position: relative;
    border: 1px solid #d6d6d6d5;
}
/* .hero-right::before{
    content: '';
    background: linear-gradient(red,green,;
    position: absolute;
    width: 100.5%;
    height: 100.5%;
    top: -0.25%;
    left: -0.25%;
    z-index: -1;
} */

.enroll-btn{
    font-size: var(--primary-font-size);
    padding: 0.5em 1.5em;
    cursor: pointer;
}

@media(max-width : 768px){
  .hero-wrapper{
    flex-direction: column;
  }
  .hero-left{
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .hero-right{
    width: 100%;
    height: auto;
  }
  
}