.hero-wrapper{
    line-height: auto;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    
}
.hero-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 32px 0px;
    
}   
.hero-text-1{
    display: block;
    font-size: 48px;
    margin: 18px 0px;
    
}
.hero-text-2{
    display: block;
    font-size: var(--primary-font-size);
    margin: 18px 0px;
}
.hero-right{
    height: 520px;
    width: 520px;
    position: relative;
    border: 1px solid #d9d9d999;   
    border-radius: 16px;
  img{
    border-radius: 16px;
  }
  }
.enroll-btn{
    font-size: var(--primary-font-size);
    padding: 0.5em 1.5em;
    border-radius: 32px;
    background-color: #97f400;
    border: 1px solid var(--secondary-color);
    font-weight: 500;
    font-family: var(--primary-font);
    a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
}
.enroll-btn:hover{
  transform: scale(1.1);
  transition: transform .5s;  
}

.section1-heading{
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 48px;
  text-align: center;
  display: block;
}

@media(max-width : 768px){
  .hero-wrapper{
    flex-direction: column;
  }
  .hero-left{
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .hero-right{
    width: 100%;
    height: auto;
  }
  
}